@import '~antd/dist/antd.css';



.App {
  text-align: center;
}


.ant-carousel .slick-slide {
  text-align: center;
  
  line-height: 160px;
  background: #43474f;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
